<div style="max-width: 400px;" class="container">
  <h2 class="text-center">Add User</h2>
  <form>
    <div class="form-group">

      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input [(ngModel)]="user.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      </div>

      <label for="email">Email address:</label>
      <input type="email" [(ngModel)]="user.email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <div style="text-align: center;">
      <button class="btn btn-success" (click)="createUser()">Create</button>
    </div>
  </form>
  <div class="error">{{ error }}</div>
</div>
