<div class="container-fluid">
  <nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand" href="#">
      <img src="assets/img/v2.png" width="30" height="30" alt="">
      UserLibrary
    </a>

    <div class="my-2 my-lg-0">
      <a routerLink="/users" type="button" class="btn btn-outline-light">List Users</a>
      <a style="margin-left:10px" routerLink="/add" class="btn btn-outline-light">Add User</a>
    </div>
  </nav>


  <br/>
  <router-outlet></router-outlet>
</div>
