<div>
  <h2 style="text-align: center"> User List</h2>

  <table class="table table-secondary table-striped">
    <thead class="table-dark">
    <tr>
      <th class="hidden">Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Date of Birth</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.dateOfBirth}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)">X</button></td>
    </tr>
    </tbody>
  </table>
</div>
